{% extends "admin/base.html" %}
{% load static %}

{% block title %}{{ title }} | {{ site_title|default:'William Hazard Admin' }}{% endblock %}

{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}">william hazard admin</a></h1>
{% endblock %}

{% block extrahead %}
{{ block.super }}
<link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}">
{% endblock %}

{% block extrastyle %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static 'css/admin.css' %}">
{% endblock %}
